<a href="https://colab.research.google.com/github/atharvadesai1/NLP-practice/blob/main/regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
# Extracting the contact number and email id from the text

import re
number = '''
            Hello my phone no. is 9876543212.
            My phone no. so its 8976503214
            Telephone no. 7654321119'''
pattern = "(\d{10})"
matchn = re.findall(pattern,number)
print("Number extracted :",matchn)
email  = ''' My email id is desaiatharva50@gmail.com
             Mine email is dkseRR45@xyz.com
             please note my email sadguru@hotmail.com'''

pattern = "[a-zA-Z0-9]+@[a-z]+.com"
matche = re.findall(pattern, email)
print(f"Email extracted :{matche}")

numemail = number + " " + email
pattern = "\d{10}|[a-zA-Z0-9]+@[a-z]+.com"
matchen = re.findall(pattern, numemail)
print(f"Number and email extracted :{matchen}")

Number extracted : ['9876543212', '8976503214', '7654321119']
Email extracted :['desaiatharva50@gmail.com', 'dkseRR45@xyz.com', 'sadguru@hotmail.com']
Number and email extracted :['9876543212', '8976503214', '7654321119', 'desaiatharva50@gmail.com', 'dkseRR45@xyz.com', 'sadguru@hotmail.com']

In [33]:
# Extracting age from wikipedia column of a celebrity

celeb = ''' Personal information
Full name  Sachin Ramesh Tendulkar
Born  24 April 1973 (age 50) Bombay, Maharashtra, India
(now Mumbai, India)
Nickname  Little MasterMaster Blaster
Height  165 cm (5 ft 5 in)
Batting  Right-handed
Bowling  Right-arm leg break Right-arm off break
Role  Batter
Relations Ramesh Tendulkar (father)
Arjun Tendulkar (son)
Website
sachintendulkar.com '''

age = "\(age ([0-9]+)\)"
matche = re.findall(age, celeb)
print(f"Age: {matche[0]}")

birth = 'Born\s+(\d{1,2})\s+([A-Za-z]+)\s+(\d{4})'
height = 'Height\s+(.*)'
match1 = re.findall(birth,celeb)
match2= re.findall(height,celeb)
birth_full = match1[0][0] + " " + match1[0][1] + " " + match1[0][2]
print(f"Birthday full: {birth_full}")
print(f"Birth Date: {match1[0][0]}")
print(f"Birth Month: {match1[0][1]}")
print(f"Birth Year: {match1[0][2]}")
print(f"Height: {match2[0]}")

Age: 50
Birthday full: 24 April 1973
Birth Date: 24
Birth Month: April
Birth Year: 1973
Height: 165 cm (5 ft 5 in)

In [29]:
s = ('24', 'April', '1973')
peace = s[0] + " " + s[1] + " " + s[2]
peace[:]

'24 April 1973'